.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.navigation{
    background-color:#e3e4e5;
    color: #999;
    height: 40px;
    line-height: 40px;  
}

 .navigation .kind>li{
    float: left;
   margin: 0 20px;
   width: 150px;
   text-align: center;
   height: 40px;
   box-sizing: border-box;
   position: relative;
 
}
.navigation .kind>li .submenu{
    text-align: left;
    line-height: 1.5;
    width: 300px;
    display: none;
}
.navigation .kind li:hover{
    border: 1px solid #999;
    background-color: #fff;
    border-bottom: none;
    line-height: 38px;
    display: block;
}
.navigation .kind li:hover .submenu{
    display: block;
    background-color: #fff;
    border: 1px solid #999;
    position: absolute;
    right: -1px;
    box-sizing: border-box;
}

.navigation .kind li:hover::after{
    content: "";
    position: absolute;
    background:#fff;
    bottom: 0;
    width: 100%;
    height: 10px;
    left: 0;
}
