.main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0, .5);
}

.parture img{
    width: 100%;
    
}

.main .word{
    position: fixed;
    width: 400px;
    height: 512px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid red;
    background: #fff;
    line-height: 2em;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 20px;
}

.main .word .close{
    width: 30px;
    height: 30px;
    background: red;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: -15px;
    color: #fff;
    cursor: pointer;
}