.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    line-height: 20px;
}
.form{
    width: 980px;
    margin: 2em auto;
}

.form a{
    color: #00a1d6;
}
.form h2{
    text-align: center;
    font-size: 38px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 10px;
    margin-bottom: 100px;
}

.form h2 span{
    background: #fff;
    padding: 0 10px;
}
.form .form-area{
    width: 420px;
    margin: 0 auto;
}
.form .form-area .form-item{
    margin: 40px 0;
    position: relative;
    /* padding: 0 10px; */
   
}

/* form .form-item .selsct .select-item{
    width: 100px;
    height: 40px;
    border: 1px solid #dcdfe6;
} */

.form-area .select .select-item,
.form-area .select .input{
    float: left;
    height: 40px;
}

.form-area .select .select-item{
    width: 140px;
    border: 1px solid #dcdfe6;
    /* border-radius: 4px; */
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    border-right: none;
    position: relative;
}
.form-area .select .input input{
    border-radius: 0 4px 4px 0;
}
.form-area .select .input{
    width: 280px;
}

.form-area .select .select-item .title{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;   
    color: #909399;
    
    
}

.form-area .select .select-item ul{
    display: none;
    width: 140px;
    max-height: 250px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    font-size: 14px;
    overflow-y: auto;
   
    
    
}
.form-area .select .select-item ul li{
     margin: 20px 0 20px 20px;
    font-size: 16px; 

    cursor: pointer;
    
}

.form-area .select .select-item ul li.active{
    color:  #00a1d6;
    font-weight: bold;
}


.form .form-area .form-item .test button{  
    height: 40px;
    width: 150px;
    position: absolute; 
    right: 0;
    top: 0;
} 
.form .form-area .form-item .ok button{
    width: 100%;
}

.form .form-area .readme{
   margin: -30px 0;
   font-size: 10px;  
}
.form .form-area .readme .checkbox{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #dcdfe6;
    border-radius: 3px;
    box-sizing: border-box;
}

.form .form-area .readme input:checked+.checkbox{
   border:1px solid #00a1d6;
    
}
.form .form-area .readme input{
    display: none;
    
}
.form-area .readme input:checked+.checkbox::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #00a1d6;
    border-radius: 2px;
    margin-left: 2.5px;
    margin-top: 2.4px;
}


.txtright{
    text-align: right;
}


/* 统一的文本框样式 */
input[type="text"],
input[type="passward"]{
    border: 1px solid #dcdfe6;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    text-indent: 1em;
    font-size: 14px;
    color: #606266;
    font-family: "PingFangSC-Medium";
   
}

input[type="text"]:hover,
input[type="passward"]:hover{
    border: 1px solid #c0c4cc;
}

input[type="text"]:focus,
input[type="passward"]:focus{
    border-color: #00a1d6;
}

button {
    height: 40px;
    background: #00a1d6;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}


button:hover {
    background: #33b4de;
}